
body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: sans-serif;
}

.card {
    background: linear-gradient(135deg, #e0f7fa 0%, #b2ebf2 100%); /* Nền xanh nhạt */
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    position: relative;
    border: 1px solid #b2ebf2;
}

.header { color: #0056b3; font-weight: bold; margin-bottom: 20px; font-size: 1.1em; }
small { color: #555; font-size: 0.75em; display: block; margin-top: 10px; }
strong { font-size: 1.1em; color: #000; }
.row { display: flex; gap: 40px; }

/* Nút Chia sẻ */
.share-btn {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    width: 300px;
    cursor: pointer;
    font-weight: bold;
}
